/* Fill in all the CSS rules. All the selectors you need are listed */

/* CSS reset */

* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

    
}

/* Body  */

body {
    border: 50px;
    margin:30px;
    width:fit-content;
    border-width: thick;
    
    

}


.card {
    width:350px;
    border: 50px;
    border-color:black;
    border-radius: 20px 20px 20px 20px;


    

    
}

img {
    border-radius:20px 20px 0px 0px;
    height: 264px;
    
}

.card-text {
    height: 240px;
    margin: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom:15px;
    
    

}

.category {
    font-size:12px;
    color: blue;
    padding-top: 0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom: 7px;
    
}

h2 {
    font-size:50px;
    text-transform: capitalize;
    margin-top: 7px;
    margin-bottom: 10px;

}

p {
    color:rgb(63,63,63);

}
